/* .modal-header-btn {
  border-bottom-style: solid;
  border-width: thin;
} */

.modal-layout {
  margin: 0%;
  padding: 0%;
}

.modal-image-btn,
.modal-filter-btn,
.modal-change-img-btn,
.modal-close-btn {
  border: none;
  outline-style: none;
  padding: 4px;
  width: 78px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-change-img-btn {
  margin-top: 12px;
  width: 170px;
  color: blue;
}

.modal-close-btn {
  background-color: #ffffff;
  outline-style: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: red;
  /* line-height: 12px; */
  width: 18px;
  /* font-size: 8pt; */
  /* font-family: tahoma; */
  margin-top: 3px;
  margin-right: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-image-btn:hover,
.modal-filter-btn:hover,
.modal-close-btn:hover,
.modal-change-img-btn:hover {
  background-color: bisque;
}

.preview-image {
  height: 129px;
  width: 150px;
}

.image-filter {
  display: flex;
  flex-wrap: nowrap;

  margin: auto;

  width: 80%;
}

.filter-options {
  margin-left: 10px;
}

.filter-options button {
  margin: 2px;
  /* padding: 2px; */
}
